src/main/resources/receipt.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" xmlns="http://eif.viko.lt/pvaiciulis/springsoap/gen"
           targetNamespace="http://eif.viko.lt/pvaiciulis/springsoap/gen" elementFormDefault="qualified">
    <xs:element name="getReceiptRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReceiptResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="receipt" type="receipt"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="receipt">
        <xs:sequence>
            <xs:element name="id" type="xs:unsignedByte" />
            <xs:element name="products">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="product">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="discount">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="category" type="xs:string" />
                                                <xs:element name="discountPrice" type="xs:decimal" />
                                                <xs:element name="percentOff" type="xs:decimal" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="barCode" type="xs:unsignedInt" />
                                    <xs:element name="name" type="xs:string" />
                                    <xs:element name="price" type="xs:decimal" />
                                    <xs:element name="amount" type="xs:decimal" />
                                    <xs:element name="amountType" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="discount_card">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="barCode" type="xs:unsignedInt" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="price" type="xs:decimal" />
                        <xs:element name="category" type="xs:string" />
                        <xs:element name="person">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="birthDate" type="xs:dateTime" />
                                    <xs:element name="firstName" type="xs:string" />
                                    <xs:element name="lastName" type="xs:string" />
                                    <xs:element name="phoneNumber" type="xs:long" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="timeOfPurchase" type="xs:string" />
            <xs:element name="subtotal" type="xs:decimal" />
            <xs:element name="total" type="xs:decimal" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>